#s8 {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#d22v2 {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 80;
}


#d22v1 {
    background-color: rgba(234, 166, 54, 255);
    height: 25vh;
    width: 60vw;
    color: white;
    margin-right: 10%;
}

#dInp {
    margin-left: 40%;
}

.nav-link:hover {
   text-decoration: none;
   color: orange;
}

#all11 {
    background-color: rgba(253, 245, 235, 255);
    width: 90vw;
    margin: auto;
}

.div3v3:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-5%);
    transition: 1s;
}

#divF:hover {
    background-color: rgba(234, 166, 54, 255);

}

#divF:hover img {
    filter: brightness(50%);
}



#dddv2 {
    overflow: hidden;
    position: relative;
    height: 70px;
}

#dvd1 {
    top: 0;
    transition: .5s;
    overflow: hidden;
    position: absolute;
}

#dddv2:hover #dvd1 {
    top: -120%;
}

#carouselExampleControls {
    width: 80vw;
    margin-left: 10%;
}

#carouselExampleControls {
    padding: 5%;
}

.test1:hover{
    color: orange;
}













/*----------Tablette-----------------*/

@media only screen and (max-width: 768px) {
    header {
        width: 118vw;
    }

    main {
        width: 118vw;
    }

    #s2 {
        margin-left: 15%;
    }

    #s3 {
        margin-left: 6.5%;
    }

    #s5 {
        margin-left: 10%;
    }

    #ddi2 {
        margin: auto;
        margin-left: 1%;
    }

    #ddd2 {
        display: block;
        margin-left: 40%;
        width: 34.5vw;
    }

    #bt1 {
        height: 10vh;
    }
}

/* Mobile m ------------------*/
@media only screen and (max-width: 375px) {
    header {
        width: 171.5vw;
    }

    main {
        width: 171.5vw;
    }
    
   body{
    margin: 0;
   }
#s2{
    height: 60vh;
}

    .div2v2 {
        width: 40vw;
    }

    #d3v3 {
        width: 150vw;

    }

    .div3v3 {
        width: 150px;
    }

    #dAbs {
        margin-left: 56%;
        width: 50vw;
    }

    #divs5 {
        width: 120vw;
    }

    #sDivs5 {
        width: 100vw;
    }

    #divF {
        width: 35vw;
    }

    #ddi1 img {
        width: 40vw;
        height: 40vh;
    }

    #ddi2 img {
        width: 40vw;
        height: 40vh;
    }

    #dAbs1 {
        margin-left: 30%;
    }

    #all11 {
        width: 120vw;
    }
}

/* Mobile L ------------------*/
@media only screen and (max-width: 425px) {
    header {
        width: 171.5vw;
    }

    main {
        width: 171.5vw;

    }

    #s2 {
        width: 140vw;
        margin: auto;

    }

    #sp2 {}

    .div2v2 {
        width: 40vw;
    }

    #d3v3 {
        width: 150vw;

    }

    .div3v3 {
        width: 150px;
    }

    #dAbs {
        margin-left: 56%;
        width: 50vw;
    }

    #divs5 {
        width: 120vw;
    }

    #sDivs5 {
        width: 100vw;
    }

    #divF {
        width: 35vw;
    }

    #ddi1 img {
        width: 40vw;
        height: 40vh;
    }

    #ddi2 img {
        width: 40vw;
        height: 40vh;
    }

    #dAbs1 {
        margin-left: 30%;
    }

    #all11 {
        width: 120vw;
    }

    #ddd2 {
        margin: auto;
    }

    #dInp {
        width: 40vw;
        margin-left: 70%;
    }
}

@media only screen and (max-width: 1440px) {
    body {
        overflow-x: hidden;
    }
}

#hd1 {
    height: 40vh;
    background-color: gray;
    color: white;
}

#dCon {
    margin-top: 5%;
    flex-direction: column;
}

#ss1 {
    padding-top: 10vh;
}

#inpp1 {
    margin-top: 1%;
    width: 27vw;
}

#inpp2 {
    height: 25vh;
    margin-top: 1%;
    width: 27vw;
}

#btt2 {
    margin-top: 1%;
    height: 4vh;
    width: 5vw;
    display: inline-table;
    color: white;
    min-height: 20px;
    background-color: rgb(234, 166, 54);
    border-radius: 20px;
    border: none;
}

#smap {
    padding-top: 10vh;

}

#map {
    width: 60vw;
    padding-bottom: 10vh;
}

/*---------------------------------------------------------------------------------*/



#s2{
    border: 0;
    padding-bottom: 30%;
}
#Margin1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(234,166,54,255);
    height: 8vh;
    border-radius: 10%;
    color: white;
    margin-left: 2vw;
    width: 7vw;
    margin-top: 30% ;
}
#touts2{
    border: 3px solid rgba(234,166,54,255);
    width: 40vw;
    padding-bottom: 5%;
    margin-left: 20%;
}
  
#fout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    text-decoration: none;
}

.test{
    
    transition: 0.2s;
}
.test:hover{
    color: orange;
    font-size: 1.1em;
}
.txtt1{
    margin-right: 20%;
    
}
.txtt2{
    margin-left: 50%;
}