/* @media only screen and (max-width: 375px) {
    footer {
        width: 171.5vw;

    }

    #inpp2 {
        width: 80vw;
    }

    #btt2 {
        margin-top: 5vh;
        height: 5vh;
        width: 25vw;
    }

    #map {
        width: 120vw;
    }
} */

#inpp2{
    width: 50vw;
}
#btt2{
    height: 5vh;
    width: 10vw;
}
#map{
    width: 90%;
}

#ddlo{
    font-size: 25px;
}



@media only screen and (max-width: 425px) {
   body{
    height: 100vh;
   }
    header{
        width: 220%;
    }
    #ss1{
        margin-left: 7%;
    }
    input{
        width: 80vw;
    }
    footer {
        width: 220%;

    }
    #inpp1{
        width: 80vw;
    }
    #inpp2 {
        margin-top: 5vh;
        height: 50vh;
        width: 150vw;
    }

    #btt2 {
        margin-top: 5vh;
        height: 15vh;
        width: 45vw;
    }
    p{
        font-size: 25px;
    }
    #map {
        width: 180vw;
        margin-left: 7%;
    }
}

/* @media only screen and (max-width: 768px) {
    footer {
        width: 118vw;
    }

    #btt2 {
        width: 25vw;
        height: 5vh;
    }

    #map {
        width: 80vw;
    }
} */


/* #spanH {
    text-decoration: none;
}

#spanH:hover {
    text-decoration: none;
    color: orange;
} */