#s8{
    width: 100Vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#d22v2{
    display: flex;
    align-items: center;
    height: 20vh;
    width: 80;
}


#d22v1{
    background-color: rgba(234,166,54,255);
    height:25vh;
    width: 60vw;
    color: white;
}
#btt2{
    border: 0;
}
#dInp{
    margin-left: 40%;
}
.nav-link:hover{
    color: red;
    background-color: red;
}
.div3v3:hover{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-5%);
    transition: 1s;
}
