

#bt1 {
    height: 7vh;
    width: 10vw;
    display: inline-table;
    color: white;
    min-height: 20px;
    background-color: rgba(234,166,54,255);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: none;
}
.t1v2{
    font-size: 8vh;
}