#s3{
    height: 20vh;
    width: 100vw;
    padding-top: 10%;
}
#d3v3{
    display: flex;
    justify-content: center;
    align-items: center;
}



.div3v3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253,245,235,255);
    height: 25vh;
    width: 20vw;
    margin-left: 2%;
}
#i2{
    font-size: 50px;
    margin-left:30%;
    margin-bottom: 10%;
}
#i3{
    margin-left: 45%;
    
}