#sp2 {

    display: flex;
    justify-content: center;
    align-items: center;

}

#s2 {
    margin-top: 10%;
    border: 2px solid rgba(255,193,7,255);
    height: 25vh;
    width: 80vw;
    margin-left: 10%;
}

.div2v2 {
    height: 10vh;
    width: 15vw;
    margin: 4%;
    background-color: rgba(234, 166, 54, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}