#ddd1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ddd2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sppp3{
    background-color: rgba(253,245,235,255);
    height: 10vh;
}
#s7{
    padding-bottom: 20%;
}
