
#s4{
    padding-top: 20%;
}
#bt2v2{
    border-radius: 40%;
}
#dAbs{
    position: absolute;
    height: 47vh;
    margin-top: 2.5%;
    width: 25vw;
    border: 20px solid rgba(253,245,235,255);
    background-color: rgba(234,166,54,255);
    margin-left: 15%;
}