#dtotal{
    display: flex;
}
#d2img{
    display: flex;
}
#ddi1{
    position: relative;
}
#ddi2{
    position: relative;
    margin-left: 5%;
    margin-top: 8%;
}
#dAbs1{
    position: absolute;
    height: 43vh;
    margin-top: 1%;
    width: 20vw;
    border: 20px solid rgba(253,245,235,255);
    background-color: rgba(234,166,54,255);
    margin-left: 8%;
}
#ii33{
    background-color: rgba(234,166,54,255);
    border: 5px solid rgba(234,166,54,255);
    border-radius: 50%;
}